/* 
==============================================
AUTHOR:		Danny McMillan
==============================================

*/

/* 0. Reset ================================= */
@import 'reset';
$primary-color: #21968f;
$secondary-color: #76d26d;
$accent-color: #903586;
$font-1: 'Roboto', sans-serif;
$font-2: 'Poppins', sans-serif;;
$main-color: #232930;
$accent-color: #f1c40f;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
}



/* 2. Content ================================= */

header {
	

	.header-bar {
		background-color: $main-color;
		width: 100%;
		display: flex;
		flex-direction: row;


		h1 {
			color: white;
			margin: 15px 20px 20px 10px;
			padding: 10px;
			font-size: 20px;
			font-family: $font-1;

			span {
				color: $primary-color;
				font-size: 40px;
				font-family: $font-2;
			}
		}

		input {
			margin: 30px 20px 30px 10px;
			border: solid 1px #ccc;
			padding: 9px 10px 9px 32px;
			width: 75px;
			border-radius: 5px;
			outline: none;
			background:  #ededed url("https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png") no-repeat 1px center;
			transition: all .5s;
			margin-left:auto;
		}

		input:focus {
			width: 130px;
			background-color: #fff;
			border-color: #fff;
		}

		.popupBox { 
			position: fixed;
			width: 500px;
			height: 350px;
			background: $main-color;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
    		z-index: 10;
    		-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 2px 2px 5px 12px rgba(0,0,0,0.75);

    		h1 {
    			color: white;	
    			text-align: center;
    			padding-top: 20px;
    			font-size: 30px;
    			border-bottom: 1px solid white;
    			padding-bottom: 10px;
    		}

    		img {
    			padding: 10px;
				width: 70%;
				display: block;
				margin-left: auto;
				margin-right: auto;

    		}
    		    		
		}

		.popupBox {
			display: none;
		}

		.popupBoxVisible {
			display: block;
		}

		.close-button {
			float: right;

			z-index: 10;
			background: none;
			color: $accent-color;
			font-size: 20px;
		}

	
	}
}

section {
	z-index: 0;
}
.hero {
	height: 80px;
	margin-left: 10px;

	

	h1 {
		text-transform: uppercase;
		margin-top: 2%;
		margin-bottom: 1%;
		font-size: 22px;
		letter-spacing: 1px;
		font-weight: 700;
		font-family: $font-1;
		z-index: -10;

		.h1-hero {
			z-index: -10;
		}

	}

	h2 {
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 1px;
		font-weight: 700;
		font-family: $font-1;
	}

	.hero-line-ani {
		border-bottom: 1.5px $accent-color solid;
		padding: .5px;
		
	}
}

#popular-games-app {
	width: 100%;
	overflow-x: scroll;
	z-index: -10;

	.popular-games-wrapper {
		display: flex;
		flex-direction: row;
		width: 22% * 10;
		div {
			width: 10%;
			z-index: -1;
			img {
				width: 100%;
			
			}
			img:hover {
				
			}
			p {
				text-align: center;	
			}
		}
		
			.game-info-card {
				font-size: 14px;;
				min-height: 50px;
				font-family: $font-2;
				margin-bottom: 2px;
				margin-top: 10px;
				color: $main-color;
				
			}
	}
}



#random-games-app {
	z-index: -11;
	button {
		margin-top: 20px;
		display: block;
		margin-left: auto;
    	margin-right: auto;
		margin-bottom: 10px;
		outline: none;
		background: $main-color;
		color: white;
		padding: 10px;
		border: 1px solid #fff;	
	}

	h1 {
		text-align: center;
		margin-bottom: 10px;
		font-family: $font-1;
	}
	p {
		font-style: italic;
		text-align: center;
		font-family: $font-2;
		margin-bottom: 10px;
	}

	img {
		display: block;
		margin-left: auto;
    	margin-right: auto;
    	width: 50%;

	}
}

.news-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0 30px;
	max-width: 600px;
	border-bottom: 1px dashed #777;

	h1 {
		text-align: center;
		font-size: 1.2em;
		margin: 0 auto 10px auto;
		font-weight: bolder;
	}

	h2 {
		text-align: center;
	}

	h3 {
		margin: 0 auto 10px auto;
		text-align: center;
	}

	a {
		margin: auto;
		color: black;
		padding: 10px;
		background: $accent-color;
		border-radius: 4px;
		margin-top: 15px;
		margin-bottom: 10px; 
	}

	.content-img {
		width: 50%;
		margin: auto;
		
	}
}

.h1-news {
	text-transform: uppercase;
	margin-top: 2%;
	margin-bottom: 1%;
	font-size: 22px;
	letter-spacing: 1px;
	font-weight: 700;
	font-family: $font-1;
	z-index: -10;
	margin-left: 10px;

	.video-game-border {
		border-bottom: 1.5px solid $accent-color; 

	}
}


.game-searched {
	h1 {
		font-weight: 800;
	} 
	
}









